body {
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	color: #666666;
	background:none;
}

.wrapper {
	max-width: 1170px; 
	margin: 0 auto;
}

img {
	max-width: 100%;
}

input:focus {
	outline: none;
}

button:focus {
	outline: none;
}





